body { background: #293185; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 17px; display: flex; }
.block-config-0 { color: #2d845d; font-size: 20px; margin-bottom: 5px; }
.block-router-1 { color: #654990; font-size: 19px; margin-bottom: 5px; }
.block-cart-2 { color: #507bd6; font-size: 12px; margin-bottom: 5px; }
.block-product-3 { color: #9b0f7c; font-size: 19px; margin-bottom: 5px; }
.block-config-4 { color: #6fdb03; font-size: 15px; margin-bottom: 5px; }